/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
    -fx-background-color: #1d1d1d;
}
.root{
    -fx-font-family: "Arial" ,Helvetica;
}


.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.button{
	-fx-background-color:#1d1d1d;
	-fx-text-fill:white ;
	}
.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
   /*-fx-font-size: 20pt; */ 
   /* -fx-font-family: "Segoe UI Light"; */
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #c0392b;
}

.data0.chart-pie { -fx-pie-color: #80ff80; }
.data1.chart-pie { -fx-pie-color: #33ff33; }
.data2.chart-pie { -fx-pie-color: #009900; }
.data3.chart-pie { -fx-pie-color: #ccffcc; }
.data4.chart-pie { -fx-pie-color: #ff00ff; }
.data5.chart-pie { -fx-pie-color:  #ff0000; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: cyan; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }
.data11.chart-pie { -fx-pie-color: dodgerblue; }
.chart-pie Label.chart-legend-item{
	-fx-text-fill: white;
	}
/*.label{
	-fx-background-color:#1d1d1d;
	-fx-text-fill:white ;
	} */	
	.tab-header-background {
    -fx-background-color: #1d1d1d ;
    -fx-text-fill: black;
    }
    
	.tab:selected {
	-fx-background-color: orange ;
}
.tab .tab-label{
	-fx-text-fill:#c0392b;
	-fx-font-size: 12pt;
	-fx-font-family:"Arial";
}
.tab:selected .tab-label {
    -fx-text-fill: black;
}
#tweakPane{
	-fx-text-fill: white;
	-fx-background-color: #1d1d1d;
	
}
#tweakPane .label{
	-fx-text-fill: white;
}
#tweakPane .text-field{
	-fx-text-fill: white;
	-fx-font-size:12pt;
	-fx-font-family:"Courier New";
}
#tweakPane .combo-box .list-cell{
	-fx-text-fill: white;
	-fx-font-size:12pt;
	
}
